In [1]:
import pandas as pd
from faker import Faker

In [2]:
fake = Faker()

### Generating data

In [5]:
# Customer Name
n = 100000
id = ['ID_'+str(i+1) for i in range(n)]
first_name = [fake.first_name() for i in range(n)]
middle_name = [fake.first_name() for i in range(n)]
last_name = [fake.last_name() for i in range(n)]
phone = [fake.phone_number() for i in range(n)]
address = [fake.address() for i in range(n)]
pincode = [fake.postalcode_in_state() for i in range(n)]
state = [fake.state() for i in range(n)]
country = [fake.country() for i in range(n)]
dob = [fake.date_of_birth() for i in range(n)]

### Converting data to dataframe

In [6]:
cdata = {
    'customer_id':id,
    'cust_first_name':first_name,
    'cust_middle_name':middle_name,
    'cust_last_name':last_name,
    'cust_phone':phone,
    'cust_address_1':address,
    'cust_pincode':pincode,
    'cust_state':state,
    'cust_country':country,
    'cust_dateOfBirth':dob
}
# cols = ['cust_first_name', 'cust_last_name', 'cust_phone']

In [7]:
df = pd.DataFrame(cdata)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   customer_id       100000 non-null  object
 1   cust_first_name   100000 non-null  object
 2   cust_middle_name  100000 non-null  object
 3   cust_last_name    100000 non-null  object
 4   cust_phone        100000 non-null  object
 5   cust_address_1    100000 non-null  object
 6   cust_pincode      100000 non-null  object
 7   cust_state        100000 non-null  object
 8   cust_country      100000 non-null  object
 9   cust_dateOfBirth  100000 non-null  object
dtypes: object(10)
memory usage: 7.6+ MB

In [9]:
df.head()

,customer_id,cust_first_name,cust_middle_name,cust_last_name,cust_phone,cust_address_1,cust_pincode,cust_state,cust_country,cust_dateOfBirth
0,ID_1,Shannon,Danielle,Simmons,001-733-902-6406,"92604 Haley Mount Suite 006\nLake Karen, MN 79722",99841,Vermont,Lao People's Democratic Republic,1917-07-13
1,ID_2,Joseph,Jonathan,Fox,(644)898-6494x61895,"PSC 5090, Box 2450\nAPO AP 76164",79622,South Dakota,Malawi,2020-03-14
2,ID_3,Brandon,Sharon,Cardenas,(349)052-3869x61742,"9513 Diane Freeway\nDavidfort, MD 05352",47374,West Virginia,Belize,1959-11-29
3,ID_4,Phillip,Randy,Parker,853-535-9863x3181,"398 Smith Streets Apt. 139\nJacquelineshire, O...",85413,Utah,Saint Pierre and Miquelon,1935-07-20
4,ID_5,Christina,Jillian,Mcmahon,7150927704,"6413 Jennifer Ridges Suite 945\nCynthiashire, ...",68030,New Hampshire,Madagascar,1949-12-16

In [10]:
df.to_csv('customerData.csv', index=False)