In [1]:
import pandas as pd
from faker import Faker

In [2]:
fake = Faker()

### Generating data

In [68]:
# Customer Name
n = 100000

id = ['ID_'+str(i+1) for i in range(n)]
prod_type = [fake.l() for i in range(n)]
# middle_name = [fake.middle_name() for i in range(n)]
last_name = [fake.last_name() for i in range(n)]
phone = [fake.phone_number() for i in range(n)]
address = [fake.address() for i in range(n)]
pincode = [fake.postalcode_in_state() for i in range(n)]
state = [fake.state() for i in range(n)]
country = [fake.country() for i in range(n)]
dob = [fake.date_of_birth() for i in range(n)]

### Converting data to dataframe

In [69]:
cdata = {
    'cust_first_name':first_name,
    'cust_last_name':last_name,
    'cust_phone':phone,
    'cust_address_1':address,
    'cust_pincode':pincode,
    'cust_state':state,
    'cust_country':country,
    'cust_dateOfBirth':dob
}
# cols = ['cust_first_name', 'cust_last_name', 'cust_phone']

In [70]:
df = pd.DataFrame(cdata)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   cust_first_name   100000 non-null  object
 1   cust_last_name    100000 non-null  object
 2   cust_phone        100000 non-null  object
 3   cust_address_1    100000 non-null  object
 4   cust_pincode      100000 non-null  object
 5   cust_state        100000 non-null  object
 6   cust_country      100000 non-null  object
 7   cust_dateOfBirth  100000 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [72]:
df.head()

,cust_first_name,cust_last_name,cust_phone,cust_address_1,cust_pincode,cust_state,cust_country,cust_dateOfBirth
0,Andrew,Evans,+1-201-478-1402,"73503 Patton Drive Suite 038\nParsonsbury, RI ...",66117,New Mexico,Finland,1997-09-28
1,Matthew,Baker,+1-649-969-4016x543,"0837 Stone Track\nNorth Joycetown, ID 43043",79720,North Dakota,Malawi,1985-06-18
2,Carol,Castro,+1-667-523-1982x8221,"8671 Wiley Circle\nKinghaven, FL 44944",04741,Vermont,Armenia,1971-02-15
3,Hannah,Morse,+1-518-972-0910x7305,"558 Smith Stream\nPatrickchester, MI 07258",66602,Massachusetts,Angola,1926-03-03
4,Brandon,Medina,(736)548-1602,25397 Marco Cliff Suite 565\nLake Carolynmouth...,97647,Missouri,Mali,1931-11-21

In [74]:
df.to_csv('customerData.csv', index=False)